@charset "UTF-8";

*{margin:0 auto; padding:0; text-decoration: none; list-style: none; box-sizing:border-box; font-family: 'Nanum Gothic', sans-serif; color:#131a23; }
html,body{width:100%; min-width:1200px; height:100%;}
input{background:none; border:none; color:#131a23;}
input:focus{background:#131a23; color:#f1bf04;}
input:focus{background:#131a23; color:#f1bf04;}
table{width:100%;}
h1,h2,h3,h4{width:100%;}
h1,h2,h3,h4,a,span{font-family: 'Oswald', sans-serif;}
h1{padding:5% 0; width:100%; float:left;}
#contentWrap{max-width:1200px; height:100%; position:relative;}
section{width:100%; float:left;}
#buttonWrap{float:left; width:100%; padding:2%; text-align: center;}
.button{ padding:1% 2% 1%; width:20%; background: #131a23; color:#fff; font-family: 'Oswald', sans-serif;}
table #buttonWrap{float:none;}
.button:hover{color:#f1bf04;}
.button:active{background:#f1bf04; color:#fff;}
i.material-icons {color: #fff; line-height: 1.5;}
i.material-icons:hover{color:#f1bf04;}
.paging{ float:left; width:100%; line-height:150px; text-align: center;}
.paging a{padding:2%;}
.paging .current{color:#f1bf04;}

::-webkit-scrollbar {width: 5px; background: none;}
::-webkit-scrollbar-track {border-radius: 50%;}
::-webkit-scrollbar-thumb {background: #ccc; border-radius: 2.5px;}
::-webkit-scrollbar-thumb:hover {background: #fff; background: none; }

/** main **/
/* header */

header{position:relative; float:left; width:100%; height:auto; top:0; left:0; background:url(../images/main.jpg); background-attachment: fixed; background-size: cover; border-bottom: 1px solid #ffffff2e; z-index: 9999; }
header.scroll{position:fixed; transition:.3s;}
header #messageWrap{position:relative; float:left; top:0; left:0; width:100%; height:30px; background:#131a23; color:#f1bf04; line-height: 30px; text-align: center; font-size: 12px; font-weight: bold;}
header #headerWrap{width:100%; max-width:1200px; height:100%; }
#headerWrap .headerLogo{float:left; font-size:30px; line-height:30px; padding:10px; font-weight:bold; color:#fff; text-align: center;}
#headerWrap .menuWrap{float:right; height:100%; }
#headerWrap .menuWrap ul{float:right; width:100%; height:50%; }
#headerWrap .menuWrap ul li{float:left; line-height:35px; padding:0 2%; text-align: center;}
#headerWrap .menuWrap ul li a{position:relative; color:#fff; }
#headerWrap .menuWrap ul li a:hover{color:#f1bf04;}
#headerWrap .menuWrap .util .alarm{display:block; position:absolute; top:-1px; right:-8px; width:7px; height:7px; border-radius:50%; color:#fff; background: #f1bf04; font-size: 8px;}

#headerWrap .menuWrap .mypageButton{display:block; width:40px; height:40px; border-radius: 50%; overflow: hidden;}
#headerWrap .menuWrap .mypageButton img{width:100%;}


.popupWrap{display:none;}
.popupWrap{position:fixed; z-index:99999; width:100%; height:100%; background:#131a23fc;}
.popupWrap .closeButton{position:absolute; top:5%; right:5%; width:30px; height:30px; cursor: pointer;}
.popupWrap .closeButton span{display:block; position:absolute; top:14px; width:100%; height:2px; border-radius: 1px; transform:rotate(45deg); background:#f1bf04;}
.popupWrap .closeButton span:last-child{transform:rotate(-45deg);}

#searchWrap  #contentWrap form{width:100%; padding:10%;}
#searchWrap  #contentWrap table th{text-align: center;}
#searchWrap  #contentWrap table th input{width:50%; padding:2%; border-bottom:1px solid #f1bf04; text-align: center; font-size: 25px;}
#searchWrap  #contentWrap .searchResualt{padding:0;}
#searchWrap  #contentWrap .goodsWrap{width:1250px; height:350px; overflow: scroll;}
#searchWrap  #contentWrap .goodsWrap .goodsName{color:#fff;}

#alarmWrap #contentWrap{padding:5% 20% 0;}
#alarmWrap #contentWrap h1{color:#fff;}
#alarmWrap #contentWrap h4{color:#f1bf04;}
#alarmWrap #contentWrap .alarmListWrap{width:100%; margin-top:50px; padding:0 5% 0;  height:350px; overflow:scroll;}
#alarmWrap #contentWrap .alarmListWrap ul{position:relative;  left:0; width:100%; margin-bottom:3%; margin-bottom: 3%; border-bottom: 1px solid #ffffff0d; overflow: hidden;}
#alarmWrap #contentWrap .alarmListWrap ul li a{position:absolute; right:-100%; top:0; color:#fff; border:1px solid #fff; padding:2%; transition:1s;}
#alarmWrap #contentWrap .alarmListWrap ul:hover{border-bottom:1px solid #fff; transition:.5s; }
#alarmWrap #contentWrap .alarmListWrap ul:hover li a{right:5%; transition:.5s;}
#alarmWrap #contentWrap .alarmListWrap ul li a:hover{color:#f1bf04;}
#alarmWrap #contentWrap .alarmListWrap ul li{color:#fff; font-size: 16px; padding:1% 0; font-weight: bold;}
#alarmWrap #contentWrap .alarmListWrap ul li:last-child{ font-size:12px; color:#eebd07a1;}
#alarmWrap #contentWrap .alarmList.read{left:-110%; height:0;transition:2s;}

#mypageWrap.mypageMenuWrap{right:0; top:82px; width:30%; height:auto; min-width:400px; background:#1e2938a3; padding:5%;}
#mypageWrap.mypageMenuWrap table{width:100%; text-align: center;}
#mypageWrap th,#mypageWrap th{padding:5%;}
#mypageWrap a{color: #fff; display: block; width: 100%; line-height: 50px; border: 1px solid #ffffff38;}
#mypageWrap a:hover{color:#f1bf04; border: 1px solid #f1bf047a; transition:.5s;}
/* footer.jsp */
footer{position:relative; float:left; width:100%;  height:auto; background:url(../images/main.jpg); background-attachment: fixed; background-size: cover;}
footer #footerBackground{width:100%; height:100%; background:#00060ed6;}
#footerBackground h3{text-align: center; color:#fff; padding:2.5% 5% 2.5%; font-size: 12px;}
#footerBackground p{text-align: center; color:#fff; padding:2.5% 5% 2.5%; font-size: 10px;}

/* main.jsp */
#mainVisual{position:relative; width:100%; height:100%; background:url(../images/main.jpg); background-attachment: fixed; background-size: cover;}
#mainVisual h1{position:relative; top:20%; width:100%; font-size: 100px; color:#fff; text-align: center; }

.mainWrap .goodsWrap{width:100%; height:auto; float: left;}
.goodsWrap .goodsListWrap{width:100%; height:auto; padding:100px 0 0;}
.goods{width:400px; padding:1%; float:left;}
.goods ul li {position:relative; width:100%; overflow: hidden; text-align: center; font-weight:bold; padding:1%;}
.goods ul .thumnail{height:250px; cursor: pointer; padding:0;}
.goods ul .thumnail img{width: 100%; height:100%; transition:.5s;  transform:scale(1);}
.goods ul .thumnail:hover img{transform:scale(1.2); transition:.5s;}
.goods ul .thumnail span{position:absolute; top:0; left:0; float:left;  padding:5px; color:#fff; background: #f1bf04;}
.goods ul .companyName{color:#808080; font-size:14px;}
.goods ul .goodsName{font-size: 20px; }
.goods ul .deadline{font-size: 12px; color:#f1bf04; overflow: hidden;}

.mainWrap .bannerWrap{width:100%; height:auto; padding:100px 0; float:left;} 
.bannerWrap .lineBannerWrap{float:left; width:100%; padding:5%; margin:50px 0 10px; height:300px; background:url(../images/bannerImg_01.jpg); background-size: cover;}
.lineBannerWrap h1{width:100%; color:#fff; text-align: center; font-size: 40px; padding:2%;}
.lineBannerWrap h4{width:100%; color:#fff; text-align: center;}

.bannerWrap .bannerList{float:left; margin:0 0 50px; width:100%; height:auto; }
.bannerList >li{width:390px; margin:0 5px 0; padding:1%; height:300px; float:left; background: #ccc; box-shadow: 0 0 0 #000;}
.bannerList .banner:hover{box-shadow:-5px 5px 15px #000; transition:.5s; cursor: pointer;}
.bannerList .event{background:url(../images/event.jpeg); background-size: cover;} 
.bannerList .memberShip{background:url(../images/memberShipBanner.jpg); background-size: cover;}
.bannerList h1{text-align: left; color:#fff; padding:10%; font-size: 40px;}
.bannerList .noticeList {background: #131a23; }
.bannerList .noticeList h3{text-align: center; color:#f1bf05; }
.bannerList .noticeList ul{width:100%; height:220px; overflow: scroll; }
.bannerList .noticeList li{width:90%; margin:0 5px 0; padding:1%; color:#fff;  line-height:50px; float:left;  font-size:12px; font-weight:bold; opacity: 1; border-bottom: 1px solid #1e2938; box-shadow: 0 0 0 #fff;}
.bannerList .noticeList li:hover{color:#f1bf05; transition:.3s; box-shadow:-1px 1px 5px #fff;}
.bannerList .noticeList li span{font-size: 10px; color:#ffffffb8;  float:right;}
.bannerList .noticeList li  a{color:#fff;}
/** user **/

#contentWrap.userWrap{padding:10% 20%;  }
#contentWrap.userWrap h1{text-align: center; padding:50px 0;}
#contentWrap.userWrap table{width:100%; font-size: 12px;}
#contentWrap.userWrap td{padding:2%; text-align: center;}
#contentWrap.userWrap td input{width:80%; padding:2%; text-align: center; border:1px solid #e8e8e8; font-size:12px;}
#contentWrap.userWrap th .button{ width:20%;}

/* login */
#contentWrap.userWrap .button.naverButton{background:#04cf5c;}

/* joinSelect */
#contentWrap.userWrap .joinSelectWrap{padding:40% 15%;}
#contentWrap.userWrap .joinSelectWrap .button{width:48%; line-height:150px; margin:0 1%; display: block; float:left; font-size: 16px;}

/* joinForm */
#contentWrap.userWrap .joinFormWrap table {margin:50px 0 ;}
#contentWrap.userWrap .joinFormWrap table th{padding:5%;}
#contentWrap.userWrap .joinFormWrap table td {text-align: center; font-size: 12px; text-align: center;}
#contentWrap.userWrap .joinFormWrap table td input{width:80%; padding:2%; text-align: center; border:1px solid #e8e8e8; font-size:12px;}
#contentWrap.userWrap .joinFormWrap table td .postBox{width:50%;}
#contentWrap.userWrap .joinFormWrap table td .postButton{width:30%}
#contentWrap.userWrap .joinFormWrap table td input[type='checkbox']{width:10px;}

#contentWrap.userWrap .danger{color:#ca5109;}
#contentWrap.userWrap .normal{color:#f1bf04;}
#contentWrap.userWrap .safety{color:#016c86;}

/** goods **/
/* goodsView */
.goodsViewWrap{margin-bottom:100px; padding:0 10% 0 }
#goodsBasicInfomationWrap {position:relative; width:100%; padding:10% 0 5%; float:left;}
#goodsBasicInfomationWrap .thumnail{width:50%; float:left;}
#goodsBasicInfomationWrap .thumnail img{width:100%;}
#goodsBasicInfomationWrap .infomationTextSection {position:relative; width:50%; padding:2% 5% 0; float:left;}
.infomationTextSection h1{width:100%;}
.infomationTextSection h1 span{font-size:14px; color:#808080;}
.infomationTextSection ul{width:100%; float:left;}
.infomationTextSection li{float:left; width:100%; padding:2% 0; font-weight: bold;}
.infomationTextSection li p {float:left; width:100%;}
.infomationTextSection li p span{font-size:12px; color:#808080; float:right;}
.infomationTextSection #buttonWrap{padding:10% 0 0;}

#investmentRiskNotice {width:100%; float:left; text-align: center; font-size: 12px; background:#808080; padding:3%;}
#investmentRiskNotice p{color:#fff; float:}
#investmentRiskNotice p a{color:#f1bf04;}

.goodsInfoNavigation {width:100%; float:left; padding:3%;}
.goodsInfoNavigation li{float:left; width:20%; text-align: center;}
.goodsInfoNavigation li a{ font-weight: bold; }
.goodsInfoNavigation li a.goodInfoActive{color:#f1bf04;}

#goodsViewContentWrap{width:100%; float: left; padding:5%;}
#goodsViewContentWrap h3{padding:0 0 5%; float:left;}
#goodsViewContentWrap h4{padding:0 0 1%; float:left;}
#goodsViewContentWrap p{padding:0 0 5%; font-size: 14px; float:left; line-height: 30px;}

#goodsViewContentWrap.newsWrap{width:100%; float: left; padding:10% 20%;}
#goodsViewContentWrap.newsWrap ul{float:left; width:100%; padding:3% 0 3%; border-bottom:1px solid  #e8e8e8;}
#goodsViewContentWrap.newsWrap ul .newsTitle{font-size: 16px; font-weight: bold;}
#goodsViewContentWrap.newsWrap ul li {font-size: 14px; padding:1%;}
#goodsViewContentWrap.newsWrap ul li span{color:#808080; float:right; font-size: 12px;}
.goodsWrap .newsViewWrap table td{text-align: center; padding:2%; border-bottom:1px solid  #e8e8e8;}
.goodsWrap .newsViewWrap table th{text-align: center; padding:3%; }

#goodsViewContentWrap.debateWrap{padding:5% 10%;}
#goodsViewContentWrap.debateWrap ul{float:left; width:100%; border-top:1px solid  #e8e8e8;}
#goodsViewContentWrap.debateWrap ul li{float:left; width:100%; }
#goodsViewContentWrap.debateWrap ul li ol li{padding:3% 3% 5%;}
#goodsViewContentWrap.debateWrap ul li ol li:first-child{width:60%; float:left; font-weight: bold;}
#goodsViewContentWrap.debateWrap ul li ol li:last-child{width:40%; text-align: right; font-size: 12px;}
#goodsViewContentWrap.debateWrap ul li ol li .button{margin:0 2%;}

#goodsViewContentWrap.debateWrap .debateReplyArea{ width:100%; padding:5%;float:left; background: #f1f1f1;}
#goodsViewContentWrap.debateWrap .debateReplyArea th{text-align:left;}
#goodsViewContentWrap.debateWrap .debateReplyArea th textarea{ float:left; width:100%; height:50px;}
#goodsViewContentWrap.debateWrap .debateReplyArea td{width:30%;}
#goodsViewContentWrap.debateWrap .debateReplyArea td .button{width:100%; float:left; height:50px}

#goodsViewContentWrap.debateWrap .debateReplyList{float:left; width:100%; background: #f1f1f1;}

/** funding **/
/* step */
#contentWrap.fundingWrap{width:800px;}
#contentWrap.fundingWrap #fundingStep{width:100%;}
#contentWrap.fundingWrap #fundingStep li{padding:6%;float:left; font-size: 12px;}
#contentWrap.fundingWrap #fundingStep li span{color:#f1bf04; font-weight: bold;}
#contentWrap.fundingWrap table{max-width:100%; text-align: left;}
#contentWrap.fundingWrap table td{padding:2%; font-size: 12px; line-height: 30px;}
#contentWrap.fundingWrap table td span{font-size:10px; font-weight:bold;}
#contentWrap.fundingWrap table input[type='checkbox']{float:left; margin:4px 10px 0;}
#contentWrap.fundingWrap .fundingStep2 form {width:100%; float:left; border:1px solid #f1f1f1;}
#contentWrap.fundingWrap .fundingStep2 form .rewardCondition{display: none;}
#contentWrap.fundingWrap .fundingStep2 table {text-align: center;} 
#contentWrap.fundingWrap .fundingStep2 table th{padding:5%;}
#contentWrap.fundingWrap .fundingStep2 table td{padding:3%;}
#contentWrap.fundingWrap .fundingStep2 table input[type='number']{padding:2%; border: 1px solid  #e8e8e8;}
#contentWrap.fundingWrap .fundingStep2 table select{width:70%; height:30px; background:#fff; border: 1px solid  #e8e8e8;}
#contentWrap.fundingWrap #fundingWrap{margin-bottom:100px;}


/* apply */
#contentWrap.fundingWrap #applyWrap{margin:50px 0 50px;}
#contentWrap.fundingWrap #applyWrap td{text-align: center;}
#contentWrap.fundingWrap #applyWrap th{ width:30%}
#contentWrap.fundingWrap #applyWrap input{ border:1px solid #e8e8e8; padding:2%;}
#contentWrap.fundingWrap #applyWrap input[type="text"],[type="number"],[type="file"]{width:70%;}
#contentWrap.fundingWrap #applyWrap input[type="date"]{width:34%;}
#contentWrap.fundingWrap #applyWrap textarea{padding:2%; width:70%; min-height:300px; border:1px solid #e8e8e8; height: }
#contentWrap.fundingWrap #applyWrap #addReward table{border-top:1px solid #e8e8e8;}
#contentWrap.fundingWrap #applyWrap #addReward table input[type="number"]{width:34%;}
#contentWrap.fundingWrap #applyWrap table .deleteRewardButton{display:none;}
#contentWrap.fundingWrap #applyWrap table .button{width:15%;}

/** event **/

.eventWrap .eventWrap{width:100%; height:auto; float: left;}
.event{width:400px; padding:1%; float:left;}
.event ul li {position:relative; width:100%; overflow: hidden; text-align: center; font-weight:bold; padding:1%;}
.event ul .thumnail{height:250px; cursor: pointer; padding:0;}
.event ul .thumnail img{width: 100%; height:100%; transition:.5s;  transform:scale(1);}
.event ul .thumnail:hover img{transform:scale(1.2); transition:.5s;}
.event ul .thumnail span{position:absolute; top:0; left:0; float:left;  padding:5px; color:#fff; background: #f1bf04;}
.event ul .eventTitle{font-size: 20px; }
.event ul .deadline{font-size: 12px; color:#f1bf04; overflow: hidden;}

/** board **/
/* list */
#contentWrap.boardWrap {width:1000px;}
#contentWrap.boardWrap table{text-align: center; font-size:14px;}
#contentWrap.boardWrap table th{padding:3%;}
#contentWrap.boardWrap table th input[type="text"]{width:40%; padding:1%; border-bottom:1px solid #e8e8e8; text-align: center;}
#contentWrap.boardWrap table td{padding:2%; border-bottom:1px solid #e8e8e8;}

#contentWrap.boardWrap table .boardContent{line-height:30px;}
#contentWrap.boardWrap table textarea{width:100%; height:200px;}



